:root {
  --color-primary-dark: #54bab9;
  --color-primary-light: #9ed2c6;
  --color-secondary-dark: #e9dac1;
  --color-secondary-light: #f7ecde;
  --color-bg-light: #fff;
  --color-bg-medium: #f6f9fc;
  --color-bg-dark: #002c59;
}
