.contact-container {
  position: relative;
}

.contact-container .contact-emoji {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5rem;
}

.contact-container {
  text-align: center;
}

.contact-container p {
  margin: 1rem 0;
}

.contact-container ul {
  display: flex;
  justify-content: center;
}

.contact-container ul li {
  margin: 1rem;
}

.contact-container img {
  width: 2.5rem;
}

@media only screen and (min-width: 45em) {
  .contact-container .contact-emoji {
    width: 11rem;
  }
}
