#WelcomeSection {
  background: var(--color-bg-medium);
  height: 30rem;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#WelcomeSection img {
  position: absolute;
  bottom: 0;
  width: 10rem;
  right: 0;
}

.welcome-content {
  padding-top: 5rem;
  text-align: center;
}

.welcome-content h2 {
  font-size: 4rem;
}

.welcome-content p {
  font-size: 1rem;
  margin: 1rem 0;
}

.welcome-content b {
  font-weight: bold;
}

@media only screen and (min-width: 45em) {
  #WelcomeSection img {
    width: 13rem;
  }
}

@media only screen and (min-width: 85rem) {
  .welcome-content {
    padding-top: 10rem;
  }
  #WelcomeSection img {
    right: 5rem;

    width: 15rem;
  }
}
