@import './common/styles/colors.css';
@import './common/styles/containers.css';
@import './common/styles/reset.css';

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-bg-light);
}
